@import 'theming';

:host {
  display: flex;
  overflow: hidden;
}

.container {
  max-height: 100%;
  overflow: hidden;
}

.add-account-button {
  margin: 4px;
}

.accounts {
  overflow-y: auto;
  padding: 4px;
}

.account-button {
  overflow: hidden;
  display: block;
  flex: 0 0 auto;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-color: #1a1a17;
  border: 1px solid black;
  box-shadow: 1px 1px 4px #59584f, -1px -1px 4px #59584f, 1px -1px 4px #59584f,
    -1px 1px 4px #59584f;
  color: white;
  box-sizing: border-box;
  z-index: 9999;
  transition: all 250ms linear;
  transition-property: color, background-color, border-color;

  &.active {
    background: dt-color('primary');
    border-color: dt-color('primary-dark');
    color: dt-color('button-font');
  }

  ::ng-deep span {
    font-size: 0.75rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cdk-drag-preview {
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms ease-in-out;
}

.cdk-drag-animating {
  transition: transform 250ms ease-out;
}
