@import 'vars';

:host {
  display: block;
  padding: 1rem;

  border-radius: 20px;

  background: mat-color($gray, 200);

  box-shadow: 4px 4px 4px mat-color($gray, 400),
    -4px -4px 4px mat-color($gray, A100);

  margin: 8px;
}
