@import 'vars';

$height: 1rem;

:host {
  $outShadowSize: 6px;
  $outShadowBlur: 12px;
  $inShadowSize: 4px;
  $inShadowBlur: 12px;

  display: block;
  height: $height;
  font-size: 0.75 * $height;
  border-radius: $height / 2;
  line-height: $height;
  min-width: 250px;
  overflow: hidden;
  box-shadow: 0 0 0 2px mat-color($gray, 200),
    $outShadowSize $outShadowSize $outShadowBlur mat-color($gray, 500),
    (-$outShadowSize) (-$outShadowSize) $outShadowBlur mat-color($gray, A100),
    inset $inShadowSize $inShadowSize $inShadowBlur mat-color($gray, 500),
    inset (-$inShadowSize) (-$inShadowSize) $inShadowBlur
      mat-color($gray, A100);
}

.progress {
  height: 100%;
  border-radius: $height / 2;
  background-color: mat-color($primary);
  transition: all 300ms ease-in-out;
  &.error {
    background-color: mat-color($warn, A400);
  }

  box-shadow: inset 2px 2px ($height / 3) mat-color($gray, 100);
}
