@import 'theming';

:host {
  display: flex;
  height: 100%;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;

  .container {
    position: relative;
  }
}

mg-accounts-bar {
  height: 100%;
}

mg-game-instance {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 0;
  &.active {
    visibility: visible;
    z-index: 1;
  }
}
