@import 'theming';

:host {
  display: block;
  box-sizing: border-box;
  height: 80%;
  width: 75%;
}

.settings-container {
  padding: 12px;
}

.server-button {
  padding: 8px;

  img {
    max-height: 64px;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}

.elk-ad {
  font-size: larger;
  text-align: center;
}

.duplicated-warning {
  background: dt-color('error');
  color: white;
  position: absolute;
  top: 10px;
  left: 27px;
  right: 24px;
  padding: 16px;
  z-index: 2;
  border-radius: 3px;
}

.container {
  max-width: 100%;
  padding: 12px;
  box-sizing: border-box;
  .log {
    max-width: 100%;
    word-wrap: break-word;
    -webkit-user-select: text;
    user-select: text;
  }
}
