<dt-container
  (closed)="UI.toggleSettings(false)"
  fxFill
  label="Paramètres de mirageold"
>
  <dt-tab-list fxFill>
    <dt-tab-list-item label="Système">
      <div class="settings-container" fxLayout="column" fxLayoutGap="12px">
        <ng-container *ngIf="!isCordova">
          <h1>Appareil à simuler</h1>

          <div fxLayout="column" fxLayoutGap="4px">
            <dt-select [formControl]="deviceForm">
              <dt-option
                *ngFor="let device of devices$ | async"
                [value]="device.device"
              >
                {{ device.device }}
              </dt-option>
            </dt-select>
            <small>
              <i> (Essaie de choisir ton propre device) </i>
            </small>
          </div>
        </ng-container>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <span fxFlex>
            Si le jeu a des problèmes d'affichage, essaie de réinstaller les
            assets :
          </span>
          <button
            dt-icon-button
            (click)="installAssets()"
            [disabled]="!(fsBusy$ | async)"
          >
            image
          </button>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <span fxFlex>
            Si le jeu plante de manière bizarre, essaie de réinstaller les
            fichiers de build :
          </span>
          <button
            dt-icon-button
            (click)="installBuild()"
            [disabled]="!(fsBusy$ | async)"
          >
            build
          </button>
        </div>
      </div>
    </dt-tab-list-item>
    <dt-tab-list-item label="Serveur de jeu">
      <div class="settings-container" fxLayout="column" fxLayoutGap="12px">
        <h1>Choix du serveur de jeu</h1>

        <div fxLayout="row" fxLayoutAlign="space-around center">
          <ng-container
            *ngTemplateOutlet="
              gameChoice;
              context: { $implicit: isElk$ | async }
            "
          ></ng-container>
          <ng-template #gameChoice let-isElk>
            <button
              dt-button
              (click)="setElkMode(false)"
              [disabled]="!isElk"
              class="server-button"
            >
              <img src="assets/pictures/dt-logo.png" />
            </button>
            <button
              dt-button
              (click)="setElkMode(true)"
              [disabled]="isElk"
              class="server-button"
            >
              <img src="assets/pictures/elk-logo.png" />
            </button>
          </ng-template>
        </div>

        <div class="elk-ad">
          <p>🌟 🌟 🌟</p>
          <p>ElkTouch, le premier serveur privé de Dofus TOUCH.</p>
          <p>
            Profitez de Dofus Touch gratuitement avec une stabilité et un
            développement hors du commun !
          </p>
          <p>🌟 🌟 🌟</p>
        </div>
      </div>
    </dt-tab-list-item>
    <dt-tab-list-item label="Raccourcis" *ngIf="!isCordova">
      <div
        class="duplicated-warning"
        *ngIf="(bindings.shortcuts.duplicatedShortcuts$ | async)?.length"
      >
        Tu as des raccourcis qui sont dupliqués !
      </div>

      <div
        class="settings-container bindings"
        fxLayout="column"
        fxLayoutGap="24px"
      >
        <mg-keyboard-bindings #bindings></mg-keyboard-bindings>
      </div>
    </dt-tab-list-item>
    <dt-tab-list-item label="Logs">
      <div class="container" fxLayout="column" fxLayoutGap="2em">
        <div class="log" *ngFor="let log of logger.logs$ | async">
          {{ log }}
        </div>
      </div>
    </dt-tab-list-item>
  </dt-tab-list>
</dt-container>
