:host {
  display: block;
  box-sizing: border-box;
  width: 300px;
}

.container {
  padding: 12px;
  padding-top: 0;
}

.server-button {
  padding: 8px;

  img {
    max-height: 64px;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
