<dt-container>
  <form
    novalidate
    [formGroup]="accountForm"
    (ngSubmit)="addAccount()"
    fxLayout="row"
    fxLayoutGap="12px"
    fxLayoutAlign="start center"
  >
    <input
      #usernameInput
      type="text"
      dtInput
      formControlName="username"
      placeholder="Nom de compte"
    />
    <input
      [type]="showPassword ? 'text' : 'password'"
      dtInput
      formControlName="password"
      placeholder="Mot de passe"
    />
    <button dt-icon-button type="button" (click)="showPassword = !showPassword">
      {{ showPassword ? 'visibility_off' : 'visibility' }}
    </button>
    <button dt-icon-button type="submit" [disabled]="!accountForm.valid">
      add
    </button>
  </form>
</dt-container>
