@import 'vars';

:host {
  display: block;
  position: relative;
  min-width: 20rem;
}

.select {
  position: relative;
  z-index: 1001; // Overlay is at 1000
  color: mat-color($primary, 500);
  display: flex;
  flex-flow: row;
  align-items: center;
  .value {
    flex: 1 1 auto;
  }
  .icon {
    margin-left: 2rem;
  }
}

.select,
.options {
  padding: 0rem;
  padding-left: 0.75rem;
  padding-right: 0.25rem;
  margin: 0;
}

.options {
  margin-top: -1rem;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-flow: column;
  max-height: 11rem;
  overflow: hidden;

  .spacer {
    height: 1rem;
    flex: 0 0 auto;
    padding: 0;
  }

  .list {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    padding-top: 1rem;
  }
}

::ng-deep .mg-options-overlay-backdrop {
  background: transparent;
}
