<img
  src="assets/design/corner-more.png"
  draggable="false"
  class="expand handle"
  (click)="expand.emit()"
  *ngIf="showExpander"
/>

<div class="header" fxLayout="row" *ngIf="!!label || !!closed.observers.length">
  <span fxFlex class="title">
    {{ label | titlecase }}
  </span>
  <button
    class="close-button"
    dt-icon-button
    *ngIf="showCloseButton"
    (click)="closed.emit()"
  >
    clear
  </button>
</div>

<div class="content-container">
  <div class="content" fxFill>
    <ng-content></ng-content>
  </div>
</div>
