@mixin dtContainer {
  .dt-container {
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 3px;
    flex-flow: column;
    box-sizing: border-box;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-width: 14px 14px 14px 14px;
      border-image: url('./assets/design/container.png') 26 26 70 26 fill;
      border-style: solid;
      box-sizing: border-box;
      border-image-repeat: round stretch;
      z-index: -1;
    }

    .content-container {
      padding: 9px;
      overflow: hidden;
      flex: 0 1 100%;
      .content {
        overflow: auto;
        min-height: 24px;
        min-width: 24px;
      }
    }

    .header {
      position: relative;

      .title {
        font-family: berlin_sans_fb_demibold;
        letter-spacing: 0.05em;
        font-size: 18px;
        text-align: center;
        height: 40px;
        white-space: nowrap;
        color: #ced0bb;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        z-index: 0;
        box-sizing: border-box;
        padding: 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          border-style: solid;
          border-width: 20px 20px 20px 20px;
          border-image: url(./assets/design/container-title.png) 40 40 40 40
            fill;
          border-image-repeat: round;
          box-sizing: border-box;
        }
      }
    }

    .handle {
      position: absolute;
      z-index: 3;
      cursor: pointer;

      &.expand {
        bottom: 0;
        right: 0;
        transform: rotate(90deg);
        height: 24px;
        width: 24px;
      }
    }
  }
}
