@mixin dtInput {
  .dt-input {
    background: transparent;
    border: 0;
    min-width: 0;
    padding: 10px 12px;
    font-size: 15px;
    line-height: 22px;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    border-width: 6px;
    border-image: url('./assets/design/input.png') 15 20 19 17 fill / 7px 9px
      9px 8px;
  }
}
