<mg-instances-container></mg-instances-container>

<!-- <dt-container class="nav" fxLayout="row" fxLayoutGap="1rem">
  <button
    dt-icon-button
    class="mg-no-shadow"
    routerLink="home"
    routerLinkActive="active"
    #rlaHome="routerLinkActive"
  >
    games
  </button>
  <button
    dt-icon-button
    class="mg-no-shadow"
    routerLink="accounts"
    routerLinkActive="active"
    #rlaAccounts="routerLinkActive"
  >
    group
  </button>
  <button
    dt-icon-button
    class="mg-no-shadow"
    routerLink="settings"
    routerLinkActive="active"
    #rlaSettings="routerLinkActive"
  >
    settings
  </button>
</dt-container> -->

<div class="overlay"><mg-settings></mg-settings></div>
<div class="overlay"><mg-accounts></mg-accounts></div>
