<nav
  [class.hidden]="!(isMenuVisible$ | async)"
  [ngClass]="navAlign$ | async"
  cdkDrag
  cdkDragLockAxis="y"
>
  <div class="menu">
    <div class="drawer" cdkDragHandle>
      <mg-card
        (click)="toggleMenu()"
        [class.mg-no-shadow]="(hasInstances$ | async) && rlaHome.isActive"
      >
        <mat-icon [class.opened]="isMenuVisible$ | async">
          chevron_right
        </mat-icon>
      </mg-card>
    </div>

    <mg-card [class.mg-no-shadow]="(hasInstances$ | async) && rlaHome.isActive">
      <button
        mg-icon-button
        class="mg-no-shadow"
        routerLink="home"
        routerLinkActive="active"
        #rlaHome="routerLinkActive"
        [color]="rlaHome.isActive ? 'primary' : ''"
      >
        <mat-icon>games</mat-icon>
      </button>
      <button
        mg-icon-button
        class="mg-no-shadow"
        routerLink="accounts"
        routerLinkActive="active"
        #rlaAccounts="routerLinkActive"
        [color]="rlaAccounts.isActive ? 'primary' : ''"
      >
        <mat-icon>group</mat-icon>
      </button>
      <button
        mg-icon-button
        class="mg-no-shadow"
        routerLink="settings"
        routerLinkActive="active"
        #rlaSettings="routerLinkActive"
        [color]="rlaSettings.isActive ? 'primary' : ''"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </mg-card>
  </div>
</nav>

<main fxFlex>
  <router-outlet></router-outlet>
</main>

<mg-instances-container
  [style.display]="rlaHome?.isActive ? '' : 'none'"
></mg-instances-container>
