:host {
  display: flex;
  position: relative;
  height: 100%;
  place-content: flex-start stretch;
  flex-flow: row;
  box-sizing: border-box;
  z-index: 0;
}

mg-instances-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

.overlay {
  position: absolute;
  left: 0;
  z-index: 2;
  max-height: 50%;
  overflow: auto;
  &:first-child {
    top: 0;
  }
  &:last-child {
    bottom: 0;
  }
}
