<nav fxLayout="column" #nav>
  <!-- Placeholder to give the nav the correct shape -->
  <dt-container fxFlex class="placeholder">
    <button dt-icon-button>
      home
    </button>
  </dt-container>

  <!-- Menu -->
  <div
    class="top-menu"
    #topMenu
    [style.right.px]="
      isTopMenuExpanded ? nav.offsetWidth - topMenu.offsetWidth : 0
    "
  >
    <dt-container
      class="container"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <!-- Menu items -->
      <button dt-icon-button>
        settings
      </button>
    </dt-container>
    <!-- More button -->
    <div class="more" (click)="isTopMenuExpanded = !isTopMenuExpanded">
      <img src="assets/design/corner-more.png" draggable="false" />
    </div>
  </div>

  <!-- Accounts menu -->
  <div
    class="accounts-menu"
    #accountsMenu
    [style.top.px]="topMenu.clientHeight"
    [style.left.px]="
      isAccountsMenuExpanded ? pageWidth - accountsMenu.offsetWidth : 0
    "
  >
    <dt-container fxLayout="column" fxFlex fxLayoutGap="1rem" fxLayoutAlign="start center">
      <ng-container *ngIf="instances$ | async as instances">
        <!-- New instance button -->
        <button
          dt-icon-button
          (click)="addGame()"
          [disabled]="!(gameReady$ | async)"
          class="add-instance"
        >
          add
        </button>

        <!-- Instances buttons -->
        <div class="accounts-buttons-container" fxFlex>
          <ng-container *ngFor="let instance of instances; index as i">
            <button
              (click)="setActive(instance)"
              (dblclick)="instance.refresh()"
              (contextmenu)="removeInstance(instance)"
              [class.active]="!!(instance === (active$ | async))"
              class="account-button"
            >
              <div class="account-container" #accounts>
                <span>{{ i + 1 }}</span>
              </div>
            </button>
          </ng-container>
        </div>

        <!-- Remove all instances button -->
        <!-- <button
          dt-icon-button
          color="error"
          (click)="removeAllInstances()"
          *ngIf="instances.length"
        >
          delete
        </button> -->
      </ng-container>
    </dt-container>
    <!-- More button -->
    <div
      class="more"
      (click)="isAccountsMenuExpanded = !isAccountsMenuExpanded"
    >
      <img src="assets/design/corner-more.png" draggable="false" />
    </div>
  </div>

  <!-- Accounts connect component -->
  <div
    class="accounts"
    #accounts
    [style.width.px]="pageWidth - accountsMenu.offsetWidth"
    [style.height.px]="accountsMenu.offsetHeight"
    [style.left.px]="isAccountsMenuExpanded ? 0 : -accounts.offsetWidth"
  >
    <mg-accounts></mg-accounts>
  </div>
</nav>
