@import 'theming';

:host {
  display: block;
  height: 100%;
}

nav {
  position: relative;
  display: block;
  height: 100%;
  .placeholder {
    visibility: hidden;
    position: relative;
    z-index: -1;
    pointer-events: none;
    transform: scale(0);
  }
}

.top-menu {
  top: 0;
  button:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.accounts-menu {
  .add-instance {
    margin: 0.5rem;
    margin-bottom: 0.5rem;
  }

  button:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.accounts-menu,
.accounts {
  bottom: 0;
}

.top-menu,
.accounts-menu,
.accounts {
  position: absolute;
  overflow: visible;
  min-width: 100%;

  .more {
    $size: 32px;
    position: absolute;
    width: $size;
    height: $size;
    right: 0;
    bottom: 0;
    cursor: pointer;
    img {
      height: $size;
      width: $size;
      transform: rotate(90deg);
    }
  }
}

.accounts-buttons-container {
  padding: 4px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* ---------- TO KEEP ---------- */

.account-button {
  overflow: hidden;
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-color: #1a1a17;
  border: 1px solid black;
  box-shadow: 1px 1px 4px #59584f, -1px -1px 4px #59584f, 1px -1px 4px #59584f,
    -1px 1px 4px #59584f;
  color: white;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9999;
  transition: all 250ms linear;
  transition-property: color, background-color, border-color;

  &.active {
    background: dt-color('primary');
    border-color: dt-color('primary-dark');
    color: dt-color('button-font');
  }

  .account-container {
    height: 100%;
    width: 100%;
    position: relative;
    span,
    ::ng-deep span {
      font-size: 0.75rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/* ---------- END OF TO KEEP ---------- */

