@import '~@angular/material/theming';

$gray: mat-palette($mat-gray);
$gray: $gray;

$primary: mat-palette($mat-pink);

$warn: mat-palette($mat-red);
$warn: $warn;

$theme: mat-light-theme($primary, $gray, $warn);