<div class="container" fxFill fxLayout="column">
  <dt-container>
    <form
      novalidate
      [formGroup]="accountForm"
      (ngSubmit)="addAccount()"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="12px"
      fxFill
    >
      <input
        dtInput
        fxFlex="0 1 300px"
        type="text"
        placeholder="Nom de compte"
        formControlName="username"
      />
      <input
        dtInput
        fxFlex="0 1 300px"
        type="password"
        placeholder="Mot de passe"
        formControlName="password"
      />
      <button dt-icon-button [disabled]="!accountForm.valid">
        add
      </button>
    </form>
  </dt-container>

  <dt-container>
    <h1>Comptes à connecter</h1>
    <p>
      Sélectionne les comptes que tu souhaites connecter (reste appuyé sur un
      compte pour le supprimer) :
    </p>

    <div
      class="accounts"
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxLayoutGap="12px"
    >
      <ng-container *ngFor="let account of accounts$ | async; trackBy: trackFn">
        <dt-container
          class="account"
          [class.connects]="account.doesConnect"
          (click)="updateConnect(account)"
          (contextmenu)="deleteAccount(account)"
          >{{ account.username }}
        </dt-container>
      </ng-container>
    </div>

    <div class="actions" fxLayoutAlign="center start">
      <button
        dt-button
        color="primary"
        (click)="connect()"
        [disabled]="!(canConnect$ | async)"
      >
        Connexion
      </button>
    </div>
  </dt-container>
</div>
