@import 'vars';

:host {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

mg-logo {
  width: 50vh;
  height: 50vh;
  opacity: 0.33;
  margin-bottom: 2rem;
}

mg-card {
  opacity: 0.25;
  &.installed {
    background: mat-color($primary, 500);
    color: mat-color($primary, '500-contrast');
  }
}
