@import 'vars';

:host {
  display: inline-block;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  flex: 0 1 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

mg-logo {
  width: 50vh;
  height: 50vh;
  opacity: 0.33;
  margin-bottom: 2rem;
}

mg-card {
  opacity: 0.25;
  &.installed {
    background: mat-color($primary, 500);
    color: mat-color($primary, '500-contrast');
  }
}
