:host {
  display: inline-block;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 0 1 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}
