<!-- <mg-logo [color]="(installStatus$ | async) === 2 ? 'primary' : ''"></mg-logo>

<mg-card [ngSwitch]="installStatus$ | async"  [class.installed]="(installStatus$ | async) === 2">
  <ng-container *ngSwitchCase="0">Installe le jeu depuis les paramètres</ng-container>
  <ng-container *ngSwitchCase="1">Installation en cours ...</ng-container>
  <ng-container *ngSwitchCase="2">Prêt à jouer !</ng-container>
  <ng-container *ngSwitchCase="3">Une erreur d'installation est survenue.</ng-container>
</mg-card> -->

<div fxLayout="column" fxLayoutGap="1rem">
  <dt-container fxLayoutAlign="center center">
    <button dt-button (click)="display = 'none'">
      HUE HUE HUE HUE
    </button>
  </dt-container>

  <dt-container fxLayoutGap="4px" fxLayout="row">
    <input dtInput type="text" placeholder="Username" />
    <input dtInput type="password" placeholder="Password" />
  </dt-container>

  <dt-container fxLayout="row" fxLayoutAlign="space-around center">
    <button dt-icon-button>home</button>
    <button dt-icon-button>person</button>
  </dt-container>
  <dt-container fxLayoutAlign="center stretch" fxLayout="column">
    <dt-select placeholder="Sélectionner une valeur">
      <dt-option value="Zero">Zero</dt-option>
      <dt-option value="One">One</dt-option>
    </dt-select>
  </dt-container>
</div>
