<dt-container
  #menu
  (expand)="isMenuOffset = !isMenuOffset"
  class="menu-container"
  [style.right.px]="-menuOffset"
>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
    <button
      dt-icon-button
      (click)="UI.toggleSettings(true); isMenuOffset = false"
    >
      settings
    </button>
    <button
      dt-icon-button
      (click)="UI.toggleAccounts(true); isMenuOffset = false"
    >
      group
    </button>
  </div>
</dt-container>

<!-- Single button menu to get the correct sizing for the menu -->
<dt-container class="placeholder" (expand)="null">
  <button dt-icon-button>settings</button>
</dt-container>
