<dt-container
  #menu
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="12px"
  (expand)="isMenuOffset = !isMenuOffset"
  [@mainMenu]="{ value: isMenuOffset, params: { offset: menuOffset } }"
  class="menu-container"
>
  <button dt-icon-button (click)="UI.toggleSettings(true); isMenuOffset = false">settings</button>
  <button dt-icon-button (click)="UI.toggleAccounts(true); isMenuOffset = false">group</button>
</dt-container>

<!-- Single button menu to get the correct sizing for the menu -->
<dt-container fxFill class="placeholder">
  <button dt-icon-button>settings</button>
</dt-container>
