@import './indicators/button/buttons.style.scss';
@import './layout/container/container.component.scss';
@import './forms/input/input.style.scss';
@import './forms/select/select.component.scss';
@import './forms/select/option/option.component.scss';

@import 'theming';

@mixin dt-core {
  @include dtButton();
  @include dtContainer();
  @include dtInput();
  @include dtSelect();
  @include dtOption();

  @font-face {
    font-family: 'berlin_sans_fb_demibold';
    src: url('./assets/fonts/berlin-sans-fb-demi-bold-webfont.eot');
    src: url('./assets/fonts/berlin-sans-fb-demi-bold-webfont.eot?#iefix')
        format('embedded-opentype'),
      url('./assets/fonts/berlin-sans-fb-demi-bold-webfont.woff') format('woff'),
      url('./assets/fonts/berlin-sans-fb-demi-bold-webfont.ttf')
        format('truetype'),
      url('./assets/fonts/berlin-sans-fb-demi-bold-webfont.svg#berlin_sans_fb_demibold')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }

  $primary: dt-color('primary');

  * {
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  body {
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: dt-color('app-background');
    font-weight: 400;
  }

  h1 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #aaa;
  }

  .cdk-overlay-container {
    &:empty {
      display: none;
    }
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    .cdk-overlay-backdrop {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      pointer-events: auto;
    }

    .cdk-overlay-connected-position-bounding-box {
      height: auto;
      width: auto;
      position: absolute;
      z-index: 1000;
      .cdk-overlay-pane {
        z-index: 1000;
        position: absolute;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    overflow: auto;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2.5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 2.5px;
  }
}
