@import 'theming';

@import './app/ui/core.style.scss';

@include dt-core();

* {
  outline: none;
  user-select: none;
}

.cdk-overlay-connected-position-bounding-box {
  height: auto;
  width: auto;
}
