@mixin dtContainer {
  .dt-container {
    display: block;
    border-width: 24px;
    border-style: solid;
    border-image: url('./assets/design/container.png') 24 fill;
    border-image-repeat: round stretch;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 400;
    overflow: hidden;
    transform: translateZ(0);
  }
}
