@mixin dtContainer {
  .dt-container {
    display: block;
    overflow: hidden;
    position: relative;
    border-width: 24px;
    border-style: solid;
    border-image: url('./assets/design/container.png') 24 fill;
    border-image-repeat: round stretch;
    transform: translateZ(0);
  }
}
